<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfa8f6">  <td>23/10/17 21:57:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:testclass_package.Put_TC1@4671115f]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/17 21:57:42</td>   <td>-4849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:testclass_package.Patch_TC1@457c9034]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>23/10/17 22:36:38</td>   <td>2331114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:testclass_package.Get_TC1@3697186]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="6a85c4">  <td>23/10/17 21:57:49</td>   <td>2193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Tc1.executor()[pri:0, instance:testclass_package.Post_Tc1@36cda2c2]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
</table>
